USE [hillbrothers]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](20) NOT NULL,
	[last_name] [varchar](20) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[DateofBirth] [date] NOT NULL,
	[Active] [bit] NOT NULL,
	[Nickname] [varchar](20) NULL,
	[street_address] [varchar](40) NULL,
	[city] [varchar](20) NULL,
	[state] [varchar](20) NULL,
	[zip] [varchar](5) NULL,
	[payment_info] [varchar](30) NULL,
	[discount] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_customers_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[items]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [varchar](50) NOT NULL,
	[item_description] [varchar](100) NULL,
	[weight] [decimal](10, 2) NOT NULL,
	[length] [decimal](10, 2) NOT NULL,
	[width] [decimal](10, 2) NOT NULL,
	[height] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_items_item_name] UNIQUE NONCLUSTERED 
(
	[item_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_package_component_choices]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_package_component_choices](
	[order_id] [int] NOT NULL,
	[package_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[chosen_qty] [int] NOT NULL,
 CONSTRAINT [PK_order_package_component_choices] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[package_id] ASC,
	[component_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_choices_unique] UNIQUE NONCLUSTERED 
(
	[order_id] ASC,
	[package_id] ASC,
	[component_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_packages]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_packages](
	[order_package_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[package_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_order_packages_order_package] UNIQUE NONCLUSTERED 
(
	[order_id] ASC,
	[package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1001,1) NOT NULL,
	[created_date] [date] NOT NULL,
	[paid_date] [date] NULL,
	[scheduled_shipped_date] [date] NULL,
	[delivered_date] [date] NULL,
	[notes] [varchar](200) NULL,
	[completed] [bit] NOT NULL,
	[customer_id] [int] NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[package_component_allowed_items]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[package_component_allowed_items](
	[component_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
 CONSTRAINT [PK_package_component_allowed_items] PRIMARY KEY CLUSTERED 
(
	[component_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[package_components]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[package_components](
	[component_id] [int] IDENTITY(1,1) NOT NULL,
	[package_id] [int] NOT NULL,
	[component_name] [varchar](50) NOT NULL,
	[required_qty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[package_items]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[package_items](
	[package_item_id] [int] IDENTITY(1,1) NOT NULL,
	[package_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[package_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_package_items_package_item] UNIQUE NONCLUSTERED 
(
	[package_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[packages]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[packages](
	[package_id] [int] IDENTITY(1,1) NOT NULL,
	[package_name] [varchar](20) NOT NULL,
	[package_description] [varchar](100) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[available] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_packages_package_name] UNIQUE NONCLUSTERED 
(
	[package_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pick_progress]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pick_progress](
	[item_id] [int] NOT NULL,
	[picked_qty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0.00)) FOR [total_price]
GO
ALTER TABLE [dbo].[pick_progress] ADD  CONSTRAINT [DF_pick_progress_picked]  DEFAULT ((0)) FOR [picked_qty]
GO
ALTER TABLE [dbo].[order_package_component_choices]  WITH CHECK ADD  CONSTRAINT [FK_choice_component] FOREIGN KEY([component_id])
REFERENCES [dbo].[package_components] ([component_id])
GO
ALTER TABLE [dbo].[order_package_component_choices] CHECK CONSTRAINT [FK_choice_component]
GO
ALTER TABLE [dbo].[order_package_component_choices]  WITH CHECK ADD  CONSTRAINT [FK_choice_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[order_package_component_choices] CHECK CONSTRAINT [FK_choice_item]
GO
ALTER TABLE [dbo].[order_package_component_choices]  WITH CHECK ADD  CONSTRAINT [FK_choice_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_package_component_choices] CHECK CONSTRAINT [FK_choice_order]
GO
ALTER TABLE [dbo].[order_package_component_choices]  WITH CHECK ADD  CONSTRAINT [FK_choice_package] FOREIGN KEY([package_id])
REFERENCES [dbo].[packages] ([package_id])
GO
ALTER TABLE [dbo].[order_package_component_choices] CHECK CONSTRAINT [FK_choice_package]
GO
ALTER TABLE [dbo].[order_packages]  WITH CHECK ADD  CONSTRAINT [FK_order_packages_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_packages] CHECK CONSTRAINT [FK_order_packages_orders]
GO
ALTER TABLE [dbo].[order_packages]  WITH CHECK ADD  CONSTRAINT [FK_order_packages_packages] FOREIGN KEY([package_id])
REFERENCES [dbo].[packages] ([package_id])
GO
ALTER TABLE [dbo].[order_packages] CHECK CONSTRAINT [FK_order_packages_packages]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_customers]
GO
ALTER TABLE [dbo].[package_component_allowed_items]  WITH CHECK ADD  CONSTRAINT [FK_allowed_component] FOREIGN KEY([component_id])
REFERENCES [dbo].[package_components] ([component_id])
GO
ALTER TABLE [dbo].[package_component_allowed_items] CHECK CONSTRAINT [FK_allowed_component]
GO
ALTER TABLE [dbo].[package_component_allowed_items]  WITH CHECK ADD  CONSTRAINT [FK_allowed_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[package_component_allowed_items] CHECK CONSTRAINT [FK_allowed_item]
GO
ALTER TABLE [dbo].[package_components]  WITH CHECK ADD  CONSTRAINT [FK_package_components_packages] FOREIGN KEY([package_id])
REFERENCES [dbo].[packages] ([package_id])
GO
ALTER TABLE [dbo].[package_components] CHECK CONSTRAINT [FK_package_components_packages]
GO
ALTER TABLE [dbo].[package_items]  WITH CHECK ADD  CONSTRAINT [FK_package_items_items] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[package_items] CHECK CONSTRAINT [FK_package_items_items]
GO
ALTER TABLE [dbo].[package_items]  WITH CHECK ADD  CONSTRAINT [FK_package_items_packages] FOREIGN KEY([package_id])
REFERENCES [dbo].[packages] ([package_id])
GO
ALTER TABLE [dbo].[package_items] CHECK CONSTRAINT [FK_package_items_packages]
GO
ALTER TABLE [dbo].[pick_progress]  WITH CHECK ADD  CONSTRAINT [FK_pick_progress_items] FOREIGN KEY([item_id])
REFERENCES [dbo].[items] ([item_id])
GO
ALTER TABLE [dbo].[pick_progress] CHECK CONSTRAINT [FK_pick_progress_items]
GO
ALTER TABLE [dbo].[order_package_component_choices]  WITH CHECK ADD  CONSTRAINT [CK_choice_qty] CHECK  (([chosen_qty]>=(0)))
GO
ALTER TABLE [dbo].[order_package_component_choices] CHECK CONSTRAINT [CK_choice_qty]
GO
ALTER TABLE [dbo].[order_package_component_choices]  WITH CHECK ADD  CONSTRAINT [CK_choices_qty_pos] CHECK  (([chosen_qty]>(0)))
GO
ALTER TABLE [dbo].[order_package_component_choices] CHECK CONSTRAINT [CK_choices_qty_pos]
GO
ALTER TABLE [dbo].[package_components]  WITH CHECK ADD  CONSTRAINT [CK_package_components_required_qty] CHECK  (([required_qty]>(0)))
GO
ALTER TABLE [dbo].[package_components] CHECK CONSTRAINT [CK_package_components_required_qty]
GO
ALTER TABLE [dbo].[pick_progress]  WITH CHECK ADD  CONSTRAINT [CK_pick_progress_picked] CHECK  (([picked_qty]>=(0)))
GO
ALTER TABLE [dbo].[pick_progress] CHECK CONSTRAINT [CK_pick_progress_picked]
GO
/****** Object:  StoredProcedure [dbo].[InsertPackages]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertPackages]
	-- Add the parameters for the stored procedure here
	@GenericRtnCode Varchar(50) OUTPUT, 
	@NativeErrorCode int,
	@PackageName varchar(50),
	@PackageDescription  varchar(50),
	@Price decimal(5,2),
	@ImageFileName varchar(200),
	@Available bit

	--seleACct * from packages

	--insert into packages values(1, 'A', '3 corn stalks, 3 straw bales, 2 pumpkins, 3 large mums', 70, 'package_a.png', 1);
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	set @GenericRtnCode = 'SUCCESS'

	declare @ExistsCount int
	set @ExistsCount = 0

	SELECT @ExistsCount = COUNT(*)
	FROM dbo.packages
	WHERE package_name = @PackageName;


	if @ExistsCount > 0
	begin
	set @GenericRtnCode = 'ERROR_PACKAGE_ALREADY_EXISTS'
	RETURN

	end



	INSERT INTO dbo.packages (package_name, package_description, price, available)
	VALUES (@PackageName, @PackageDescription, @Price, @Available);



    -- Insert statements for procedure here
	--SELECT <@Param1, sysname, @p1>, <@Param2, sysname, @p2>
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Customers_Get]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Customers_Get]
    @include_inactive BIT = 0  -- 0 = only Active, 1 = include inactive too
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        customer_id,
        first_name,
        last_name,
        phone,
        email,
        DateofBirth,
        Active,
        street_address,
        city,
        state,
        zip,
        payment_info,
        discount
    FROM dbo.customers
    WHERE (@include_inactive = 1 OR Active = 1)
    ORDER BY last_name, first_name;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Customers_GetActive]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[usp_Customers_GetActive]
as
begin
	set nocount on;
	
	select
		customer_id,
		first_name,
		last_name,
		phone,
		email

	from dbo.customers
	where Active = 1
	order by last_name, first_name

end
GO
/****** Object:  StoredProcedure [dbo].[usp_Customers_Insert]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Customers_Insert]
    @first_name     VARCHAR(20),
    @last_name      VARCHAR(20),
    @phone          VARCHAR(10),
    @email          VARCHAR(50),
    @DateofBirth    DATE,

    @street_address VARCHAR(40) = NULL,
    @city           VARCHAR(20) = NULL,
    @state          VARCHAR(20) = NULL,
    @zip            VARCHAR(5)  = NULL,
    @payment_info   VARCHAR(30) = NULL,
    @discount       BIT         = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.customers WHERE email = @email)
    BEGIN
        THROW 50001, 'Email already exists for another customer.', 1;
    END

    INSERT INTO dbo.customers
    (
        first_name, last_name, phone, email, DateofBirth,
        Active,                 -- << ADD THIS
        street_address, city, state, zip, payment_info, discount
    )
    VALUES
    (
        @first_name, @last_name, @phone, @email, @DateofBirth,
        1,                      -- << FORCE ACTIVE = 1
        @street_address, @city, @state, @zip, @payment_info, @discount
    );
END
GO
/****** Object:  StoredProcedure [dbo].[usp_OrderComponentChoices_CreateDefaults]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_OrderComponentChoices_CreateDefaults]
    @order_id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @LargeDefault INT = (SELECT item_id FROM dbo.items WHERE item_name = 'Large Yellow Mum');
    DECLARE @SmallDefault INT = (SELECT item_id FROM dbo.items WHERE item_name = 'Small Yellow Mum');

    INSERT INTO dbo.order_package_component_choices (order_id, package_id, component_id, item_id, chosen_qty)
    SELECT
        @order_id,
        op.package_id,
        pc.component_id,
        CASE
            WHEN pc.component_name = 'Large Mum (choose color)' THEN @LargeDefault
            WHEN pc.component_name = 'Small Mum (choose color)' THEN @SmallDefault
        END,
        (op.quantity * pc.required_qty)
    FROM dbo.order_packages op
    JOIN dbo.package_components pc ON pc.package_id = op.package_id
    WHERE op.order_id = @order_id
      AND pc.component_name IN ('Large Mum (choose color)', 'Small Mum (choose color)')
      AND NOT EXISTS (
          SELECT 1
          FROM dbo.order_package_component_choices c
          WHERE c.order_id = @order_id
            AND c.package_id = op.package_id
            AND c.component_id = pc.component_id
      );
END
GO
/****** Object:  StoredProcedure [dbo].[usp_OrderComponentChoices_GetForComponent]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_OrderComponentChoices_GetForComponent]
    @order_id INT,
    @package_id INT,
    @component_id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        a.item_id,
        i.item_name,
        COALESCE(c.chosen_qty, 0) AS chosen_qty
    FROM dbo.package_component_allowed_items a
    JOIN dbo.items i ON i.item_id = a.item_id
    LEFT JOIN dbo.order_package_component_choices c
      ON c.order_id = @order_id
     AND c.package_id = @package_id
     AND c.component_id = @component_id
     AND c.item_id = a.item_id
    WHERE a.component_id = @component_id
    ORDER BY i.item_name;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_OrderComponentChoices_SaveSet]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_OrderComponentChoices_SaveSet]
(
    @order_id     INT,
    @package_id   INT,
    @component_id INT,
    @choices      NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- 1) Validate JSON
        IF ISJSON(@choices) <> 1
            THROW 50000, 'Invalid JSON payload.', 1;

        -- 2) Parse into a table variable (so we can reuse it)
        DECLARE @J TABLE
        (
            item_id INT NOT NULL,
            qty     INT NOT NULL
        );

        INSERT INTO @J (item_id, qty)
        SELECT item_id, qty
        FROM OPENJSON(@choices)
        WITH (item_id INT '$.item_id', qty INT '$.qty');

        -- 3) Validate qty > 0
        IF EXISTS (SELECT 1 FROM @J WHERE qty <= 0)
            THROW 50001, 'All choice quantities must be > 0.', 1;

        -- 4) Validate allowed items
        IF EXISTS (
            SELECT 1
            FROM @J j
            WHERE NOT EXISTS (
                SELECT 1
                FROM dbo.package_component_allowed_items a
                WHERE a.component_id = @component_id
                  AND a.item_id = j.item_id
            )
        )
            THROW 50002, 'One or more items are not allowed for this component.', 1;

        -- 5) OPTIONAL: enforce exact required total
        DECLARE @required INT =
        (
            SELECT TOP 1 (op.quantity * pc.required_qty)
            FROM dbo.order_packages op
            JOIN dbo.package_components pc
                ON pc.component_id = @component_id
               AND pc.package_id = op.package_id
            WHERE op.order_id = @order_id
              AND op.package_id = @package_id
        );

        IF @required IS NULL
            THROW 50003, 'Component not found for this order/package.', 1;

        DECLARE @submitted INT = (SELECT SUM(qty) FROM @J);

        IF @submitted <> @required
            THROW 50004, 'Chosen quantities must equal required quantity.', 1;

        -- 6) Replace existing selections
        DELETE FROM dbo.order_package_component_choices
        WHERE order_id = @order_id
          AND package_id = @package_id
          AND component_id = @component_id;

        INSERT INTO dbo.order_package_component_choices
        (order_id, package_id, component_id, item_id, chosen_qty)
        SELECT
            @order_id, @package_id, @component_id,
            j.item_id, j.qty
        FROM @J j;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_OrderComponents_GetForOrder]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_OrderComponents_GetForOrder]
    @order_id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        op.order_id,
        op.package_id,
        p.package_name,
        pc.component_id,
        pc.component_name,
        (op.quantity * pc.required_qty) AS required_total_qty
    FROM dbo.order_packages op
    JOIN dbo.packages p ON p.package_id = op.package_id
    JOIN dbo.package_components pc ON pc.package_id = op.package_id
    WHERE op.order_id = @order_id
    ORDER BY p.package_name, pc.component_name;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_OrderPackages_GetByOrderId]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_OrderPackages_GetByOrderId]
    @order_id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        op.order_package_id,
        op.order_id,
        op.package_id,
        p.package_name,
        p.package_description,
        p.price,
        op.quantity,
        (p.price * op.quantity) AS line_total
    FROM dbo.order_packages op
    JOIN dbo.packages p ON p.package_id = op.package_id
    WHERE op.order_id = @order_id
    ORDER BY p.package_name;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Orders_CreateWithPackages]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Orders_CreateWithPackages]
    @customer_id   INT,
    @created_date  DATE,
    @notes         VARCHAR(200) = NULL,
    @lines         dbo.OrderPackageLineType READONLY,
    @new_order_id  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        /* 1) Validate customer exists and is active */
        IF NOT EXISTS (
            SELECT 1
            FROM dbo.customers
            WHERE customer_id = @customer_id
              AND Active = 1
        )
        BEGIN
            RAISERROR('Customer not found or not active.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END

        /* 2) Validate we actually received package lines */
        IF NOT EXISTS (SELECT 1 FROM @lines)
        BEGIN
            RAISERROR('Order must include at least one package.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END

        /* 3) Validate quantities are positive */
        IF EXISTS (SELECT 1 FROM @lines WHERE quantity <= 0)
        BEGIN
            RAISERROR('Quantity must be greater than 0.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END

        /* 4) Insert the order "header" row */
        INSERT INTO dbo.orders
        (
            created_date,
            paid_date,
            scheduled_shipped_date,
            delivered_date,
            notes,
            completed,
            customer_id,
            total_price
        )
        VALUES
        (
            @created_date,
            NULL,
            NULL,
            NULL,
            @notes,
            0,
            @customer_id,
            0.00
        );

        /* 5) Capture the new order_id */
        SET @new_order_id = SCOPE_IDENTITY();

        /* 6) Insert the package lines (order_packages) */
        INSERT INTO dbo.order_packages (order_id, package_id, quantity)
        SELECT
            @new_order_id,
            l.package_id,
            l.quantity
        FROM @lines l
        JOIN dbo.packages p
            ON p.package_id = l.package_id
        WHERE p.available = 1;

        /* If nothing inserted, all package_ids were invalid or unavailable */
        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('No valid packages were inserted (invalid package_id or unavailable).', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END

        /* 6.5) Create default component choices (mums default to yellow) */
        EXEC dbo.usp_OrderComponentChoices_CreateDefaults
            @order_id = @new_order_id;

        /* 7) Calculate total_price based on package price * quantity */
        UPDATE o
        SET o.total_price =
        (
            SELECT SUM(op.quantity * p.price)
            FROM dbo.order_packages op
            JOIN dbo.packages p
                ON p.package_id = op.package_id
            WHERE op.order_id = @new_order_id
        )
        FROM dbo.orders o
        WHERE o.order_id = @new_order_id;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN;

        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@msg, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Orders_GetById]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Orders_GetById]
    @order_id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        o.order_id,
        o.created_date,
        o.paid_date,
        o.scheduled_shipped_date,
        o.delivered_date,
        o.notes,
        o.completed,
        o.total_price,
        o.customer_id,
        c.first_name,
        c.last_name
    FROM dbo.orders o
    JOIN dbo.customers c ON c.customer_id = o.customer_id
    WHERE o.order_id = @order_id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Orders_GetCompleted]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Orders_GetCompleted]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        o.order_id,
        o.created_date,
        o.delivered_date,
        o.notes,
        o.completed,
        o.total_price,
        c.first_name,
        c.last_name,
        c.street_address,
        c.city,
        c.state,
        c.zip
    FROM dbo.orders o
    JOIN dbo.customers c ON c.customer_id = o.customer_id
    WHERE o.completed = 1
    ORDER BY o.order_id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Orders_GetRecent]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Orders_GetRecent]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        o.order_id,
        o.created_date,
        o.notes,
        o.completed,
        o.total_price,
        c.first_name,
        c.last_name,
        c.street_address,
        c.city,
        c.state,
        c.zip
    FROM dbo.orders o
    JOIN dbo.customers c ON c.customer_id = o.customer_id
    WHERE o.completed = 0
    ORDER BY o.order_id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Orders_SetCompleted]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Orders_SetCompleted]
    @order_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRAN;

    -- Subtract from our physical 'picked' progress table
    UPDATE pp
    SET pp.picked_qty = CASE 
                            WHEN pp.picked_qty - x.order_item_qty < 0 THEN 0 
                            ELSE pp.picked_qty - x.order_item_qty 
                        END
    FROM dbo.pick_progress pp
    JOIN (
        SELECT pi.item_id, SUM(op.quantity * pi.quantity) AS order_item_qty
        FROM dbo.order_packages op
        JOIN dbo.package_items pi ON pi.package_id = op.package_id
        WHERE op.order_id = @order_id
        GROUP BY pi.item_id
    ) x ON pp.item_id = x.item_id;

    -- Mark order complete so it drops off the Pick List "Total Needed"
    UPDATE dbo.orders
    SET completed = 1, delivered_date = GETDATE()
    WHERE order_id = @order_id;

    COMMIT TRAN;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Orders_SetNotCompleted]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Orders_SetNotCompleted]
    @order_id INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.orders
    SET completed = 0,
        delivered_date = NULL
    WHERE order_id = @order_id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Packages_GetAvailable]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Packages_GetAvailable]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        package_id,
        package_name,
        package_description,
        price,
        available
    FROM dbo.packages
    WHERE available = 1
    ORDER BY package_name;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PickList_GetCurrent]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_PickList_GetCurrent]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        i.item_name,
        SUM(op.quantity * pi.quantity) AS total_qty
    FROM dbo.orders o
    JOIN dbo.order_packages op ON op.order_id = o.order_id
    JOIN dbo.package_items pi ON pi.package_id = op.package_id
    JOIN dbo.items i ON i.item_id = pi.item_id
    WHERE o.completed = 0
    GROUP BY i.item_name
    ORDER BY i.item_name;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PickList_GetCurrentTotals]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_PickList_GetCurrentTotals]
AS
BEGIN
    SET NOCOUNT ON;

    -- ======================
    -- Static package items
    -- ======================
    WITH StaticItems AS
    (
        SELECT
            pi.item_id,
            SUM(op.quantity * pi.quantity) AS qty
        FROM dbo.orders o
        JOIN dbo.order_packages op ON op.order_id = o.order_id
        JOIN dbo.package_items pi ON pi.package_id = op.package_id
        WHERE o.completed = 0
        GROUP BY pi.item_id
    ),

    -- ======================
    -- Component-based items (mums)
    -- ======================
    ComponentItems AS
    (
        SELECT
            c.item_id,
            SUM(c.chosen_qty) AS qty
        FROM dbo.orders o
        JOIN dbo.order_package_component_choices c
            ON c.order_id = o.order_id
        WHERE o.completed = 0
        GROUP BY c.item_id
    ),

    -- ======================
    -- Combine both
    -- ======================
    RequiredTotals AS
    (
        SELECT item_id, SUM(qty) AS total_qty
        FROM
        (
            SELECT * FROM StaticItems
            UNION ALL
            SELECT * FROM ComponentItems
        ) x
        GROUP BY item_id
    )

    SELECT
        i.item_id,
        i.item_name,
        rt.total_qty,
        COALESCE(pp.picked_qty, 0) AS picked_qty,
        CASE
            WHEN rt.total_qty - COALESCE(pp.picked_qty, 0) < 0 THEN 0
            ELSE rt.total_qty - COALESCE(pp.picked_qty, 0)
        END AS remaining_qty
    FROM RequiredTotals rt
    JOIN dbo.items i ON i.item_id = rt.item_id
    LEFT JOIN dbo.pick_progress pp ON pp.item_id = rt.item_id
    ORDER BY i.item_name;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PickProgress_Reset]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4) Reset proc (NO DATE) */
CREATE PROCEDURE [dbo].[usp_PickProgress_Reset]
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.pick_progress;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PickProgress_SetPickedQty]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 3) Save proc (NO DATE) */
CREATE PROCEDURE [dbo].[usp_PickProgress_SetPickedQty]
    @item_id    INT,
    @picked_qty INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @picked_qty < 0 SET @picked_qty = 0;

    IF EXISTS (SELECT 1 FROM dbo.pick_progress WHERE item_id = @item_id)
        UPDATE dbo.pick_progress SET picked_qty = @picked_qty WHERE item_id = @item_id;
    ELSE
        INSERT INTO dbo.pick_progress (item_id, picked_qty) VALUES (@item_id, @picked_qty);
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Revenue_GetAllTime]    Script Date: 2/11/2026 11:23:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Revenue_GetAllTime]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        COALESCE(SUM(total_price), 0.00) AS total_revenue,
        COUNT(*) AS completed_order_count
    FROM dbo.orders
    WHERE completed = 1;
END
GO
